<header class="navbar navbar-default navbar-fix-top">
      <div class="container">
        <%= link_to "Food Record", "#", id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "HOME", "#" %></li>
            <li><%= link_to "#" do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>